@import url(https://fonts.googleapis.com/css?family=Arvo);


/* SELECTED TEXT */
::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }

html {
    font-size: 18px;font-size: 1.13rem;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;                          
    }

html, input { font-family: "arvo", "Helvetica Neue", Helvetica, Arial, sans-serif; }


